.user-page{
    min-height: 80vh;
    display: flex; 
    padding: 2rem; 
    flex-direction: row;
    gap: 20px; 
    justify-content:center; 
}

.user-side-bar {
    display: flex; 
    flex-direction: column;
    background-color: var(--primary);
    padding: 1rem;
    gap: 10px; 
    border-radius: 20px;
}

.user-content-block {
    background-color: var(--bg-secondary);
    padding: 1rem;
    min-width: 50%; 
    max-width: 80%;
    border-radius: 10px;
}

.sign-out-button {
    background-color: rgb(246, 141, 36);
}

.post-creator {
    display: flex; 
    flex-direction: column; 
    gap: 5px; 
}

.description-input {
    padding: 0.5rem; 
    min-height: 14pt; 
    max-height: 100pt; 
    resize: vertical; 
    border-radius: 10px; 
    border: 0; 
    font-size: 12pt; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.creator-submit-button {
    margin-top: 10px; 
}
